<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melomania</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <style>
        body {
            background-image: url(/img/2fem.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="position-absolute h-100 w-100" style="background: black; opacity:0.3;"></div>
    <div class="container d-flex text-center align-items-center justify-content-between" style="height: 700px">
        <div class="w-100" style="z-index: 2;">
            <h1 style="font-size: 52px; font-weight: 700; color: white;">Enjoy thousands of tracks</h1>
            <a href="https://oauth.yandex.ru/authorize?response_type=token&client_id=f6ab943a06d24680a2397481dd08b2b2" class="btn btn-lg btn-outline btn-warning mt-2">Login with Yandex</a>
        </div>
    </div>
</body>
</html>
