<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melomania</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
        <div class="col-3 pl-0 pr-0" style="min-width: 150px;">
            <div class="sidebar-header">
                <a href="/">
                    <img src="https://s3-alpha-sig.figma.com/img/f7e8/875d/10abff05672269e7bafd1d7c4f816217?Expires=1572825600&Signature=BeEjew~lM-CRKK03m~yIF1za6jfpjfvX3eCQWmfMoOc-0CqptC-TjMV~hbcsXBXQ2d3n7kbuta8k17GoIWPgRk4CjFdflMfGRnBe2bPDLqMViJeXvetAjEflkCmIBKkqBb5xbfgYFiIY4H3Ta8k9K2QupGdP82PdXZQFxah4xymBMkT9fvnFZ~5BHtJQirSuQZUoToIK4KfhVkIDGvi3Vw18CmFnwDgJlyLrFY5336Gsc4yL3SzwS1snaejKJ68EAUpMd5Eqz3vXQnFUH9REdwDvtImoSeIs9~PIVLghICFfSega0oKF~8~5PmDza8b5iEpUFPb3lMndyPB22i0wWA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                </a>
            </div>
            <nav>
                <ul class="nav flex-column list-unstyled components" id='menu'>
                    <li class="nav-item">
                        <a href="userpage"><img src="img/ava.png" class="icon" style="border-radius: 100px;"/>My music</a>
                    </li>
                    <li class="nav-item">
                        <a href="points"><img src="img/coin.png" class="icon"/>225 points</a>
                    </li>
                    <li class="nav-item">

                        <a href="#"><img src="img/like.png" class="icon"/>For you</a>
                    </li>
                    <li class="nav-item">

                        <a href="memories"><img src="img/photography.png" class="icon"/>Memories</a>
                    </li>
                    <li class="nav-item">

                        <a href="events"><img src="img/rock-and-roll.png" class="icon"/>Events</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col ml-3 mr-3">
            <div class="row mt-4">
                <h1 class="display-4">
                    255 баллов
                </h1>
            </div>

            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="img/lisa.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Merch / Clothes</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>T-Shirt from Lisa</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md">Buy for 200 points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">Monetochka</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="img/a-ha.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Concert / Discount</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>10% discount</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md">Buy for 300 points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">a-ha</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="img/gaga.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Bonus</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>Sing Bad Romance in Karaoke</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-outline-danger btn-block btn-md">Get 100 points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">Lady Gaga</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>


</body>
</html>
