<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melomania</title>
    <script src="https://music.yandex.ru/api/audio/dist/index.js"></script>
    <script src="/js/player.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 pl-0 pr-0 sidebar" style="min-width: 150px;">
                <div class="sidebar-header">
                    <a href="/">
                        <img src="https://s3-alpha-sig.figma.com/img/f7e8/875d/10abff05672269e7bafd1d7c4f816217?Expires=1572825600&Signature=BeEjew~lM-CRKK03m~yIF1za6jfpjfvX3eCQWmfMoOc-0CqptC-TjMV~hbcsXBXQ2d3n7kbuta8k17GoIWPgRk4CjFdflMfGRnBe2bPDLqMViJeXvetAjEflkCmIBKkqBb5xbfgYFiIY4H3Ta8k9K2QupGdP82PdXZQFxah4xymBMkT9fvnFZ~5BHtJQirSuQZUoToIK4KfhVkIDGvi3Vw18CmFnwDgJlyLrFY5336Gsc4yL3SzwS1snaejKJ68EAUpMd5Eqz3vXQnFUH9REdwDvtImoSeIs9~PIVLghICFfSega0oKF~8~5PmDza8b5iEpUFPb3lMndyPB22i0wWA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </a>
                </div>
                <nav>
                    <ul class="nav flex-column list-unstyled components" id='menu'>
                        <li class="nav-item">
                            <a href="/userpage"><img src="/img/ava.png" class="icon" style="border-radius: 100px;"/>My music</a>
                        </li>
                        <li class="nav-item">
                            <a href="/points"><img src="/img/coin.png" class="icon"/>My points</a>
                        </li>
                        <li class="nav-item">
                            <a href="/memories"><img src="/img/photography.png" class="icon"/>Memories</a>
                        </li>
                        <li class="nav-item">
                            <a href="/events"><img src="/img/rock-and-roll.png" class="icon"/>Events</a>
                        </li>
                    </ul>
                </nav>

                <div class="player">
                    <div class="row">
                        <div class="col-3" style="padding-right: 0;">
                            <img class="img-fluid" src="https://avatars.yandex.net/get-music-content/139444/90b42df5.a.5871523-1/200x200">
                        </div>
                        <div class="col-9 player-info-song mb-1">
                            <span class="player-info-song-name">NBA</span>
                            <span class="player-info-song-artist">RSAC</span>
                        </div>
                        
                    </div>

                    <div class="row player-line progress">
                        <div class="progress_loaded"></div>
                        <div class="progress_current"></div>
                    </div>
                    <div class="row player-buttons-top mt-4 ml-2">
                        <svg width="46" height="27" viewBox="0 0 46 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.2954 14.1274C20.6287 13.7425 20.6287 12.7802 21.2954 12.3953L37.7102 2.91825C38.3769 2.53335 39.2102 3.01448 39.2102 3.78428L39.2102 22.7384C39.2102 23.5082 38.3768 23.9893 37.7102 23.6044L21.2954 14.1274Z" fill="#747474"/>
                            <path d="M1.5 14.1274C0.833332 13.7425 0.833335 12.7802 1.5 12.3953L17.9148 2.91825C18.5814 2.53335 19.4148 3.01448 19.4148 3.78428L19.4148 22.7384C19.4148 23.5082 18.5814 23.9893 17.9148 23.6044L1.5 14.1274Z" fill="#747474"/>
                        </svg>
                        <button class="btn controls-play">
                            <svg width="49" height="57" viewBox="0 0 49 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M47.9092 26.7679C49.2425 27.5377 49.2425 29.4622 47.9092 30.232L3.65918 55.7798C2.32585 56.5496 0.659185 55.5873 0.659185 54.0477L0.659187 2.95225C0.659187 1.41265 2.32586 0.450396 3.65919 1.2202L47.9092 26.7679Z" fill="#989898"/>
                            </svg>
                        </button>
                        <svg width="46" height="27" viewBox="0 0 46 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.6133 12.3953C25.28 12.7802 25.2799 13.7425 24.6133 14.1274L8.19851 23.6045C7.53184 23.9894 6.69851 23.5082 6.69851 22.7384L6.69851 3.78428C6.69851 3.01448 7.53184 2.53336 8.19851 2.91826L24.6133 12.3953Z" fill="#747474"/>
                            <path d="M44.4087 12.3953C45.0754 12.7802 45.0754 13.7425 44.4087 14.1274L27.9939 23.6045C27.3272 23.9894 26.4939 23.5082 26.4939 22.7384L26.4939 3.78428C26.4939 3.01448 27.3273 2.53336 27.9939 2.91826L44.4087 12.3953Z" fill="#747474"/>
                        </svg>
                        <img src="https://music.mts.ru/i/BuhHkha5R7cHCvu8WWD1fsP5t0o.svg">
                    </div>
                    <div class="row player-buttons-bottom mt-2 ml-4" id="player">
                        <img src="https://music.mts.ru/i/DGoyLY2J4nPjGMaOoGNw37UzHd4.svg">
                        <div class="col-1"></div>
                        <img src="https://music.mts.ru/i/eQ1jprhXLc4UjnnqjpwDkx1i4zQ.svg">
                        <div class="col-1"></div>
                    </div>
                    <div class="overlay"></div>

                </div>


            </div>
            <div class="col ml-3 mr-3">
                <div class="row mt-2">
                    <div class="card mb-3 w-100">
                        <div class="row no-gutters">
                            <h4 class="mt-4 ml-4 mb-0">Insights</h4>
                        </div>

                        <div class="row no-gutters p-2">
                            <img src="/img/spleen.png" class="story"/>
                            <img src="/img/diana.png" class="story"/>
                            <img src="/img/filipp.png" class="story"/>
                            <img src="/img/irina.png" class="story"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card mb-3 w-100">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <img src="https://s3-alpha-sig.figma.com/img/ddfc/296a/b4935703c191f8d0526e1127ef4aec51?Expires=1572825600&Signature=Ythe-REHOBZNph2TAwBXXw1O6r0JViW1vn2QuocO7fC73ReLOWbLLYQag~dIc5ExGZTtR-pqFD11ZMGB-NLuYGjU7r5Puzx433xzW68XQ4FzbaHThp9767RmeVdXK-cGFJqG5zPIDHxbfpvilp1hiug5n-PnSXBYVroW8kH6d7t3p-KOLSl2x6dy0xpNl5qpCDFgKtbU2QqgG-WYjDJ4~KnsPm~fRQXtsACjgaNVNcK3VXzAuz31xHaR~3UmKW~dOJAvbkpF24jebq~YSGmoH6m6afCsS76fvl-uHwtyNsRgb10wLkz8uM4dxDHu6GEI5GeT1SJj3r0c6nETm6GV-A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img img-fluid" alt="...">
                            </div>
                        <div class="col-9">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Upcoming concert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>Bring Me the Horizon</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md"><a href="https://spb.ponominalu.ru/event/bring-me-the-horizon" target="_blank">Buy ticket</a></button>
                                    </div>
                                </div>
                                    <div class="row mb-0">
                                        <div class="col-md-8">
                                            <p class="card-text text-muted">6th of February | Yubileyny Sports Palace</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="card-text text-muted text-center">10% discount for 30 points!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card card-battle mb-3 p-3 w-100">
                        <div class="row no-gutters">
                            <div id="battle-left" class="battle-side" style="width: 50%; border-right: 2px solid #de0e0e">
                                <div class="row battle-row">
                                    <div class="col-5">
                                        <img src="https://kudago.com/media/images/event/46/63/46637b8aabd406c0cd83df1d9e601f8c.jpg" class="card-img">
                                    </div> 
                                    <div class="offset-1">
                                        <svg class="ml-2" width="22" height="26" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 -8.94676e-07 17.4678 -8.27378e-07 15.9282L-2.21695e-07 2.0718C-1.54397e-07 0.532196 1.66667 -0.430055 3 0.339746L15 7.26795Z" fill="#eb0e0e"/>
                                                </svg>
                                    </div>
                                    <div class="offset-1">
                                        <span class="battle-artist" onclick="closetab('r')">
                                            Affinage
                                        </span><br>
                                        <span class="battle-artist-percent" onclick="closetab('r')">
                                            23%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="battle-right" class="battle-side" style="width: 50%">
                                <div class="row battle-row">
                                    <div class="offset-1">
                                        <span class="battle-artist" onclick="closetab('l')">
                                            RSAC
                                        </span><br>
                                        <span class="battle-artist-percent" onclick="closetab('r')">
                                            77%
                                        </span>
                                    </div>
                                    <div class="offset-1">
                                        <svg class="ml-2" width="22" height="26" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 -8.94676e-07 17.4678 -8.27378e-07 15.9282L-2.21695e-07 2.0718C-1.54397e-07 0.532196 1.66667 -0.430055 3 0.339746L15 7.26795Z" fill="#eb0e0e"/>
                                                </svg>
                                    </div>
                                    <div class="col-5 offset-2">
                                        <img src="https://avatars.mds.yandex.net/get-afishanew/34116/5e29cf9015e2e3bc2a1f4dab65506a91/960x690_noncrop" class="card-img">
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-3 p-3 w-100">
                        <div class="row no-gutters">
                            <div class="col-2">
                                <img src="https://avatars.yandex.net/get-music-content/2399641/0642dd6f.a.9070622-1/200x200" class="card-img">
                            </div>
                            <div class="col-9 offset-1" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text" style="font-size: 24px">New release</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h1 class="card-title"><strong>JESUS IS KING</strong></h1>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger btn-block btn-md">
                                                Listen
                                                <svg class="ml-2" width="12" height="14" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 7.26795C16.3333 8.03775 16.3333 9.96225 15 10.7321L3 17.6603C1.66667 18.4301 -8.94676e-07 17.4678 -8.27378e-07 15.9282L-2.21695e-07 2.0718C-1.54397e-07 0.532196 1.66667 -0.430055 3 0.339746L15 7.26795Z" fill="white"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mb-0">
                                        <div class="col-md-8">
                                            <p class="card-text text-muted">Kanye West | Foreign rap & hip-hop</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-3 p-3 w-100">
                        <div class="row no-gutters">
                            <div class="col-2">
                                <img src="https://pbs.twimg.com/profile_images/1148663897538224129/DIod8cN8_400x400.jpg" class="card-img" style="border-radius: 100px">
                            </div>
                            <div class="col-9 offset-1" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text text-muted">@ladygaga on Twitter | 16 Oct</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pt-2">
                                            <h3 class="card-title">What's fortnite</h3>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-block btn-md"><a href="https://twitter.com/ladygaga/status/1184174532124266496" target="_blank">Open on Twitter</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function closetab(side) {
            let side_open = 'battle-right';
            let side_close = 'battle-left';
            let number = '78%';
            if (side === 'r') {
                side_close = 'battle-right';
                side_open = 'battle-left';
                number = '24%';
            }

            document.getElementById(side_close).style.width = '0%';
            document.getElementById(side_close).style.opacity = '0';
            document.getElementById(side_open).style.width = '100%';
            document.getElementById('battle-left').style.border = 'none';
            document.querySelector('#' + side_open + ' .battle-artist-percent').innerHTML = number;

            localStorage.setItem('voted', side);
        }

        function createPlayer() {
            var player = new ya.music.Audio();
            var appletContainer = document.querySelector("#player");
            var audioPlayer = new ya.music.Audio(null, appletContainer);
            audioPlayer.initPromise().then(function() {
                console.log("Аудиоплеер готов к работе.");
            }, function() {
                console.error("Не удалось инициализировать аудиоплеер.");
            });
        }

        document.addEventListener("DOMContentLoaded", function(event) { 
            if (localStorage.getItem('voted')) {
                closetab(localStorage.getItem('voted'));
            }
            createPlayer();

        });
  

    </script>

</body>
</html>
