<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melomania</title>

    <script src="https://music.yandex.ru/api/audio/dist/index.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/player.css"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
        <div class="col-3 pl-0 pr-0 sidebar" style="min-width: 150px;">
                <div class="sidebar-header">
                    <a href="/">
                        <img src="https://s3-alpha-sig.figma.com/img/f7e8/875d/10abff05672269e7bafd1d7c4f816217?Expires=1572825600&Signature=BeEjew~lM-CRKK03m~yIF1za6jfpjfvX3eCQWmfMoOc-0CqptC-TjMV~hbcsXBXQ2d3n7kbuta8k17GoIWPgRk4CjFdflMfGRnBe2bPDLqMViJeXvetAjEflkCmIBKkqBb5xbfgYFiIY4H3Ta8k9K2QupGdP82PdXZQFxah4xymBMkT9fvnFZ~5BHtJQirSuQZUoToIK4KfhVkIDGvi3Vw18CmFnwDgJlyLrFY5336Gsc4yL3SzwS1snaejKJ68EAUpMd5Eqz3vXQnFUH9REdwDvtImoSeIs9~PIVLghICFfSega0oKF~8~5PmDza8b5iEpUFPb3lMndyPB22i0wWA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </a>
                </div>
                <nav>
                    <ul class="nav flex-column list-unstyled components" id='menu'>
                        <li class="nav-item">
                            <a href="/userpage"><img src="#" class="icon personal_image" style="border-radius: 100px;"/>My music</a>
                        </li>
                        <li class="nav-item">
                            <a href="/points"><img src="/img/coin.png" class="icon"/>My points</a>
                        </li>
                        <li class="nav-item">
                            <a href="/memories"><img src="/img/photography.png" class="icon"/>Memories</a>
                        </li>
                        <li class="nav-item">
                            <a href="/events"><img src="/img/rock-and-roll.png" class="icon"/>Events</a>
                        </li>
                    </ul>
                </nav>

                <div class="player">
                    <div class="row">
                        <div class="col-3" style="padding-right: 0;">
                            <img class="img-fluid" src="https://avatars.yandex.net/get-music-content/139444/90b42df5.a.5871523-1/200x200">
                        </div>
                        <div class="col-9 player-info-song mb-1">
                            <span class="player-info-song-name">NBA</span>
                            <span class="player-info-song-artist">RSAC</span>
                        </div>

                    </div>

                    <div class="row player-line progress">
                        <div class="progress_loaded"></div>
                        <div class="progress_current"></div>
                    </div>
                    <div class="row player-buttons-top mt-4 ml-2">
                        <svg width="46" height="27" viewBox="0 0 46 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.2954 14.1274C20.6287 13.7425 20.6287 12.7802 21.2954 12.3953L37.7102 2.91825C38.3769 2.53335 39.2102 3.01448 39.2102 3.78428L39.2102 22.7384C39.2102 23.5082 38.3768 23.9893 37.7102 23.6044L21.2954 14.1274Z" fill="#747474"/>
                            <path d="M1.5 14.1274C0.833332 13.7425 0.833335 12.7802 1.5 12.3953L17.9148 2.91825C18.5814 2.53335 19.4148 3.01448 19.4148 3.78428L19.4148 22.7384C19.4148 23.5082 18.5814 23.9893 17.9148 23.6044L1.5 14.1274Z" fill="#747474"/>
                        </svg>
                        <button class="btn controls_play">
                            <svg class='controls_play-play' width="49" height="57" viewBox="0 0 49 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M47.9092 26.7679C49.2425 27.5377 49.2425 29.4622 47.9092 30.232L3.65918 55.7798C2.32585 56.5496 0.659185 55.5873 0.659185 54.0477L0.659187 2.95225C0.659187 1.41265 2.32586 0.450396 3.65919 1.2202L47.9092 26.7679Z" fill="#989898"/>
                            </svg>
                            <svg class='controls_play-stop' width="40" height="56" viewBox="0 0 40 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="56" rx="7" fill="#989898"/>
                                <rect x="26" width="14" height="56" rx="7" fill="#989898"/>
                            </svg>

                        </button>
                        <svg width="46" height="27" viewBox="0 0 46 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.6133 12.3953C25.28 12.7802 25.2799 13.7425 24.6133 14.1274L8.19851 23.6045C7.53184 23.9894 6.69851 23.5082 6.69851 22.7384L6.69851 3.78428C6.69851 3.01448 7.53184 2.53336 8.19851 2.91826L24.6133 12.3953Z" fill="#747474"/>
                            <path d="M44.4087 12.3953C45.0754 12.7802 45.0754 13.7425 44.4087 14.1274L27.9939 23.6045C27.3272 23.9894 26.4939 23.5082 26.4939 22.7384L26.4939 3.78428C26.4939 3.01448 27.3273 2.53336 27.9939 2.91826L44.4087 12.3953Z" fill="#747474"/>
                        </svg>
                         <div class="volume">
                            <div class="volume_bar"></div>
                        </div>
                        <img src="https://music.mts.ru/i/BuhHkha5R7cHCvu8WWD1fsP5t0o.svg">
                    </div>
                    <div class="row player-buttons-bottom mt-2 ml-4" id="player">
                        <img src="https://music.mts.ru/i/DGoyLY2J4nPjGMaOoGNw37UzHd4.svg">
                        <div class="col-1"></div>
                        <img src="https://music.mts.ru/i/eQ1jprhXLc4UjnnqjpwDkx1i4zQ.svg">
                        <div class="col-1"></div>
                    </div>
                    <div class="overlay"></div>

                </div>


            </div>
        <div class="col ml-3 mr-3">
            <div class="row mt-4">
                <h1 class="display-4">
                    <span id="points">225</span> points
                </h1>
            </div>

            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="/img/lisa.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Merch / Clothes</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>T-Shirt from Lisa</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md point-btn"
                                                onclick="modifyPoints(-200)">Buy for <span class="point_value">200</span> points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">Monetochka</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="/img/a-ha.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Concert / Discount</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>10% discount</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md point-btn"
                                                onclick="modifyPoints(-300)">Buy for <span class="point_value">300</span> points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">a-ha</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="/img/gaga.png" class="card-img">
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text" style="font-size: 24px">Bonus</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="card-title"><strong>Sing Bad Romance in Karaoke</strong></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-block btn-md" onclick="modifyPoints(100)">Get 100 points</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-8">
                                        <p class="card-text text-muted">Lady Gaga</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
<script type="text/javascript">
    function setPoints(points) {

        if (points) {
            document.querySelector('#points').innerHTML = points;
        }
        else {
            document.querySelector('#points').innerHTML = 0;
        }
    }
    function modifyPoints(points_num) {
        let current_points = document.querySelector('#points').innerHTML;
        let new_points = parseInt(current_points)+parseInt(points_num)
        if (new_points >= 0) {
            localStorage.setItem('points_sum', new_points);
            setPoints(new_points);
            setButtonStyles(new_points);
        }
        else {
            alert("Not enough points :(")
        }
    }
    function setButtonStyles(current_points) {
        let btns = document.querySelectorAll('.point-btn');
        for (i=0; i<btns.length; i++) {
            let points_value = parseInt(btns[i].querySelector('.point_value').innerHTML);
            if (points_value > current_points) {
                btns[i].classList.add('disabled');
            }
            else {
                btns[i].classList.remove('disabled');
            }
        }

    }

    document.addEventListener("DOMContentLoaded", function(event) {
        let points = localStorage.getItem('points_sum');
        setButtonStyles(points);
        setPoints(points);

    });

</script>
<script src="/js/user.js"></script>
<script src="/js/player.js"></script>


</body>
</html>
