* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.player {
    display: block;
    /*position: relative;*/
    width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.overlay_hidden {
    display: none;
}

.overlay_error {
    background: #ffcccc;
    color: #ff0000;
}

.controls_play {
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.controls_play:hover {
    background-color: #efefef;
}

.player_playing .controls_play {
    /*background: #9DBAFF;*/
}
.controls_play:focus {
    box-shadow: none;
}

.progress {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    border: 0px #ccc solid;
    border-radius: 0;
}

.progress_loaded, .progress_current {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.progress_loaded {
    background: #C4C4C4;
    z-index: 1;
}

.progress_current {
    background: #ED0909;
    opacity: 0.75;
    z-index: 2;
}

.volume {
    display: none;
    /*display: block;*/
    position: absolute;
    right: 0;
    width: 9%;
    top: 0;
    height: 100%;
    border: 1px #ccc solid;
}

.volume_bar {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ED0909;
    opacity: 0.75;
}

.controls_play-stop {
    display: none;
}

.player_playing .controls_play-stop {
    display: inherit;
}
.player_playing .controls_play-play {
    display: none;
}